.goldbox {
  background-color: white;
  overflow: hidden;
  margin: 1.5rem 0;
  width: fit-content;
}

.goldbox-title {
  background-color: #FDBF57;
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 10px 16px;
}

.goldbox-text {
  margin: 0;
  padding: 1em 3em 1em 1em;
  border-left: 1px #eee solid;
  border-right: 1px #eee solid;
  border-bottom: 1px #eee solid;
}
